<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="single">
        <!-- <div class="image">
            <img src="/images/back-1.png" alt="">
        </div>
        <div class="box1">
            <div class="single-text">
                <p>Design comps, layouts, wireframes—will your clients accept that you go about things the facile way? Authorities in our business will tell in no uncertain terms that Lorem Ipsum is that huge, huge no no to forswear forever. </p>
                <p>Not so fast, I'd say, there are some redeeming factors in favor of greeking text, as its use is merely the symptom of a worse problem to take into consideration.</p>
                <p>The toppings you may chose for that TV dinner pizza slice when you forgot to shop for foods, the paint you may slap on your face to impress the new boss is your business. But what about your daily bread? </p>
            </div>
            <div class="image-caption">
                 <img src="/images/COVER.png" alt="">
                 <p>Image caption or credit</p>
            </div>
            <div class="single-text">
                <p>Design comps, layouts, wireframes—will your clients accept that you go about things the facile way? Authorities in our business will tell in no uncertain terms that Lorem Ipsum is that huge, huge no no to forswear forever. </p>
                <p>Not so fast, I'd say, there are some redeeming factors in favor of greeking text, as its use is merely the symptom of a worse problem to take into consideration.</p>
               
            </div>
            <div class="container">
                <div class="text">
                    <h1>Design comps, layouts, wireframes—we believe that clients will surely accept that you go about things the facile way. It’s a matter of time.</h1>
                </div>
            </div> 
            <div class="single-text">
                <p>Design comps, layouts, wireframes—will your clients accept that you go about things the facile way? Authorities in our business will tell in no uncertain terms that Lorem Ipsum is that huge, huge no no to forswear forever. </p>
               
               
            </div>
        </div> -->
    </div>
    <script type="module" src="index.js"></script>
</body>
</html>