<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/components/navbar/styles.css">
     <link rel="stylesheet" href="single.css">
     <link rel="stylesheet" href="/components/footer/style.css">
</head>
<body>
    <section style="background-color: white; padding-bottom: 50px;">
        <header style="box-shadow: 0px 0px 15px 1px rgba(128, 128, 128, 0.659);">
            <div class="logo">
                <a href="/pages/home/index.html" class="nav-branding">Personally <sup>TM</sup></a>
            </div>
            <div class="navbar" id="navbar"></div>
            <a href="#email" class="subscribe">Subscribe</a>
            <div class="humburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar-1"></span>
             </div>
        </header>
        <div id="hero" class="hero"></div>
    </section>
      
    <div id="single-ariticle">
        
    </div>
    <div class="article-bottom">
        <h3>Recommended articles</h3>
           <div id="article-bottom"></div>
    </div>

    <div class="container">
        <div class="footer">
        <h1>Personally Newsletter</h1>
        <p>A bi-weekly newsletter of design inspiration, resources <br>
        and anything related to career development. 
      </p>
      <form id="button">
        <input type="email" id="email" name="gmail" placeholder="Email address" required>
       <button type="submit">Subscribe</button>
        <p id="subscribeMessage"></p>
        </form>
      </div>
      <div class="p">
        <p>Copyright 2021 - Elikem Daniels</p>
      </div>
</div>
   <script src="/components/footer/script.js"></script>

    <script  type="module"  src="single.js"></script>
</body>
</html>