<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="single.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="image1"></div>
        <div class="text">
            <p>Design comps, layouts, wireframes—will your clients accept that you go about <br>
                things  the facile way? Authorities in our business will tell in no uncertain terms <br>
                that Lorem Ipsum is that huge, huge no no to forswear forever. <br> </p>
        </div>
        <div class="image2"></div>
        <div class="text">
            <p>Design comps, layouts, wireframes—will your clients accept that you go about <br>
                things  the facile way? Authorities in our business will tell in no uncertain terms <br>
                that Lorem Ipsum is that huge, huge no no to forswear forever. <br> </p>
        </div>
        <!-- <div class="container"> -->
            <div class="text3">
                <h1>Design comps, layouts, wireframes—we believe that clients will surely accept that you go about things the facile way. It’s a matter of time.</h1>
            </div>
           </div> 
    <!-- </div> -->
</body>
</html>