.hero-title {
  font-size: 5rem;
  background: -webkit-linear-gradient(#C41740, #EA9C28);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  line-height: 1.2;
} 

.hero-subtitle {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #686868
}

.hero {
    text-align: center;
    padding: 10rem 1rem;
    background-color: #fff;
}