<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="button subscribe.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <title>JavaScript Button Example</title>
</head>
<body>
  <div class="container">
    <form action="">
        <h1>Personally Newsletter</h1>
        <p>A bi-weekly newsletter of design inspiration, resources and anything related to career development.</p>
    </form>
    <div class="email-box">
        <i class="fa-solid fa-hippo"></i>
        <form id="subscriptionForm">
          <input type="email" id="emailInput" placeholder="Enter your email" required>
          <button type="submit" id="subscribeButton">Subscribe</button>
      </form>
    </div>
  </div>
</body>
</html>
<script src="button subscribe.js"></script>