<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>button</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   <header>
      <a href="" class="subscribe">subscribe</a>
      <a href="" class="subscribe-1">View all</a>
      <a href="" class="subscribe-1">More article</a>
   </header>
    
    <title>Button Layout</title>
    <link rel="stylesheet" href="../../src/css/global.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div style="display: flex;padding: 1rem; gap: 1rem;">
        <a class="button" href="#">View All</a>
        <a class="button button-dark" href="#">Subscribe</a>
    </div>

    <script src="../../src/js/global.js"></script>
</body>
</html>