<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button and Input</title>
    <link rel="stylesheet" href="styles.css" />
    <style>
      .container {
        display: flex;
        align-items: center;
      }

      .button {
        padding: 11px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 10px;
      }

      .input-field {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <input
        type="email"
        class="input-field"
        id="searchInput"
        placeholder="Email address"
      />
      <button class="button" id="searchButton">Subscribe</button>
    </div>

    <script>
      function handleSearch() {
        var searchTerm = document.getElementById("searchInput").value;
        alert("Performing search for: " + searchTerm);
      }
      document
        .getElementById("searchButton")
        .addEventListener("click", handleSearch);
    </script>

    <a href=""><button id="btn" class="btn">View All</button></a>
    <script src="index.js"></script>
  </body>
</html>
