.header1{
  margin-top: 10%;
}
.subscribe {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background-color:#1D2939;
    color: white;
    font-size: 17px;
    letter-spacing: 0.5px;
    cursor: pointer;
    content: 'subscribe';
    margin-right: 3%;
    text-decoration: none;
   
}
.subscribe:hover{
  background-color: white;
  color: black;
  border: 1px solid #1D2939;
  transition: 0.5s ease;
  
}
.subscribe-1{
    margin-top:-12% ;
    margin-left: 47%;
    padding: 10px 15px;
    border: 2px solid rgb(230, 227, 227);
    border-radius: 6px;
    background-color: white;
    color: black;
    font-size: 17px;
    letter-spacing: 0.5px;
    cursor: pointer;
    content: 'subscribe';
    margin-right: 3%;
    text-decoration: none;
   
}
.subscribe-1:hover{
  background-color: #1D2939;
  color: white;
  border: 1px solid black;
  transition: 0.5s ease;
  
}