
.button {
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    color: #333;
    font-weight: 700;
    border-radius: 8px;
    border: 1px solid #333;
}

.button:hover {
    background-color: #333;
    color: #fff;
}

.button-dark {
    background-color: #333;
    color: #fff;
}

.button-dark:hover {
    background-color: #ddd;
    color: #333;
}
