*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
}
button{
    width: 11%;
    height: 70px;
}
.btn{
    background-color: white;
    padding: 10px ;
    color: black;
    font-size: 26px;
    border-radius: 8px;
    border: 1px solid gray;
    font-weight: 800;
}
.btn:hover{
    background-color: #1D2939;
    color: white;
}
.btn-1{
    background-color: white;
    padding: 10px ;
    color: black;
    font-size: 26px;
    border-radius: 8px;
    border: 1px solid gray;
    font-weight: 800;
}
.btn-1:hover{
    background-color: #1D2939;
    color: white;
}
.btn-2{
    background-color: #1D2939;
    padding: 10px ;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid gray;
    font-weight: 800;
}
.btn-2:hover{
    background-color: white;
    color: #1D2939;
}