<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="category.css">
    <link rel="stylesheet" href="/components/navbar/styles.css">
    <link rel="stylesheet" href="/components/hero-sctoin/style.css">
    <link rel="stylesheet" href="/components/hero-title/style.css">
</head>
<body>
    <div id="navbar">
    </div>
    <div class="sction">
        
    </div>
    <div id="article-card"></div>
    <div class="footer">
        
    </div>
    <!-- <a href="/pages/home/index.html">home</a>
    <a href="/components/category/category.html?category=daily trends">dailytrends</a>
    <a href="/components/category/category.html?category=development tools">developmentools</a>
    <a href="/components/category/category.html?category=Tutorials">tutorails</a> -->

    <script type="module" src="category.js"></script>
    <script src="/components/navbar/index.js"></script>
    <script src="/components/hero-sctoin/index1.js"></script>
    <script src="/components/hero-title/index.js"></script>
</body>
</html>