*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
body {
       background-color:#F2F4F7;
}

.content-card h2{
    margin-left: 15%;
}
.home{
    width: 70%;
    overflow: hidden;
    margin: auto;
 
}
.content-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-top: 8rem;
}
.content-card h3{
    font-size: 26px;
}
.btn-view{
    font-size: 14px;
    background-color:#ffff ;
    padding: 8px ;
    border-radius: 8px;
    gap: 10px;
}
.btn-view:hover{
    background-color: black;
    color: #ffff;
}
#article-card{
    width: 70%;
    height: auto;
    overflow: hidden;  
   margin: auto;
}
#developmentools{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    border-radius: 10px; 
    background-color: #FFFFFF;
}
.article-info{
    width: 800px;
    height: 250px;
    border-radius: 15px;
    margin-top: 20px;
}
.article-info h5{
    font-size: 13px;
    color: #667085;
    line-height: 20px;
    
}
.article-info h3{
    font-size: 26px;
    line-height: 33px;
    margin-top: 30px;
}
.article-info p{
    font-size: 18px;
    line-height: 27px;
    margin-top: 15px;
}
.article-image{
    width: 410px;
    height: 230px;
    background-color: rgb(201, 166, 119);
    border-radius:15px ;
}
.article-image img {
    width: 100%;
    height: 100%; 
    border-radius:15px ;
}
