<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/components/button/styles.css">
    <link rel="stylesheet" href="categorypage.css">
    <link rel="stylesheet" href="/components/navbar/styles.css">
    <link rel="stylesheet" href="/components/button/styles.css">
</head>
<body>
    <section>
    <header>
        <div class="logo">
            <a href="#" class="nav-branding">Personally <sup>TM</sup></a>
        </div>
        <div class="navbar" id="navbar"></div>
        <a href="" class="subscribe">Subscribe</a>
        <div class="humburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar-1"></span>
         </div>
    </header>
    <div id="hero" class="hero"></div>
    </section>


    <section style="margin-top: -150px; margin-bottom: 20px;">
        <a href="/components/category/index.html"></a>
        <a href="/components/category/categorypage.html?category=dailytrends"></a>
        <a href="/components/category/categorypage.html?category=developmenttools"></a>
        <a href="/components/category/categorypage.html?category=tutorails"></a>  
    </section>

    <header class="header1">
        <a href="" class="subscribe-1">More article</a>
   </header>
    <script type="module" src="categorypage.js"></script>
    <script src="/components/navbar/index.js"></script>
</body>
</html>