

.card {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid #eee;
    margin-top: 0.5rem;
    background-color: #fff;
    color: #333;
    text-decoration: none;
}

.card .card-info {
    flex: 1;
}

.card .card-image {
    width: 280px;
}

.card .card-image img {
    width: auto;
    width: 100%;
}

.card .title {
    color: #333;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.card .sub-title {
    color: #686868;
}

