<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/components/single-page/style.css">
    <link rel="stylesheet" href="/components/navbar/styles.css">
    <link rel="stylesheet" href="/components/hero-sctoin/style.css">
    <link rel="stylesheet" href="/components/hero-title/style.css">
    <link rel="stylesheet" href="/components/category/category.css">
    <title>Document</title>
</head>
<body>
    <div id="navbar">
    </div>
    <div class="sction">
        
    </div>
    <div id="single"></div>
    <section>
        <div class="content-card">
            <h2>Recommended articles</h2>
        </div>
        <div id="article-card">
           
        </div>
    </section>
    <div class="footer">
    </div>
     <!-- <a href="/components/single(page)/index.html">home</a>
    <a href="/components/single(page)/index.html?id=1">daily trends</a>
    <a href="/components/single(page)/index.html?category=development tools">developmentools</a>
    <a href="/components/single(page)/index.html?category=Tutorials">tutorails</a> -->

    <script type="module" src="index.js"></script>
    <script src="/components/navbar/index.js"></script>
    <script src="/components/hero-sctoin/index2.js"></script>
    <script src="/components/hero-title/index.js"></script>
</body>
</html>