<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav-bar</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav class="navbar" id="navbar">
            <div class="logo">
                <a href="#" class="nav-branding">Personally <sup>TM</sup></a>
            </div>
            
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link">Daily Digest</a>
                </li>
    
                <li class="nav-item">
                    <a href="#" class="nav-link">Design Tools</a>
                </li>
    
                <li class="nav-item">
                    <a href="#" class="nav-link">Tutorials</a>
                </li>
             </ul>
            
             <div class="humburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar-1"></span>
             </div>
             <button id="subscribe" class="subscribe" >
                Subscribe
             </button>
        </nav>
        
        <div id="hero" class="hero"></div>
    </header>
    
    <script src="index.js"></script>
</body>
</html>