<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Layout</title>
    <link rel="stylesheet" href="../../src/css/global.css">
    <link rel="stylesheet" href="../button/styles.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav class="bottom-shadow">
        <div class="container">
            <div class="navbar">
                <div class="logo">Personally<span>TM</span></div>
                <div class="menu">
                    <ul>
                        <li><a class="link" href="../../pages/category/?name=daily-trends">Daily Trends</a></li>
                        <li><a class="link" href="../../pages/category/?name=development-tools">Development Tools</a></li>
                        <li><a class="link" href="../../pages/category/?name=tutorials">Tutorials</a></li>
                    </ul>
                    <a class="button button-dark" href="#">Subscribe</a>
                </div>
            </div>
        </div>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
    WebFont.load({
        google: {
            families: ["Poppins", "sans-serif"]
        }
    });
    </script>
</body>
</html>