<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>

<nav id="navbar">
  <div class="logo"> <b>Professionally</b></div>
  <div class="menu">
    <a href="/pages/category/index.html?category=daily trends" class="menu-item">Daily Digest</a>
    <a href="/pages/category/index.html?category=develomenttools" class="menu-item">Design Tools</a>
    <a href="/pages/category/index.html?category=tutorials" class="menu-item">Tutorials</a>
  </div>
  <button class="submit-button">Submit</button>
</nav>
<script src="index.js"></script>
  

</body>
</html>