@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
header{
    background-color: white;
}
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
.logo{
    width: 30%;
    height: auto;
    overflow: hidden;
    /* background-color: blueviolet;  */
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: none ; 
    align-items: center;
    padding: 0 24px;
    background-color: aqua;
}
.nav-menu{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
    margin-right:10%;
    width: 70%;
    font-size: 20px;

}

.nav-branding{
    font-size: 25px;
    font-weight: bold;
}
sup{
    font-size: 10px;
}
.nav-link{
    transition: 0.5s ease;
    color: #1D2939;
}
.nav-link:hover{
  font-weight: bold;
  background-image: linear-gradient(to right, #C41740 , #EA9C28);
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.5s ease;
}


@media(max-width:768px){
    .hamburger{
        display: black;
    }
    .hamburger.active .bar:nth-child(0){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(2){
        transform: translateY(-8px) rotate(-45deg);
    }
   .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(51, 50, 50);
        width: 100%;
        text-align: center;
        transition: 0.3s;
   } 
   .nav-item{
    margin: 16px 0;

   }
   .nav-item a{
    color: aliceblue;
   }
   .nav-menu.active{
    left: 0;
   }
   .hamburger{
    display: none;
    cursor: pointer;
    justify-content: end;
   
}
   .bar{
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #1D2939;
}
    .bar-1{
        display: block;
        width: 17px;
        height: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background: #1D2939;
    }
    
}
/* button subscribe */
.subscribe{
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background-color: rgb(34, 39, 61);
    color: white;
    font-size: 17px;
    letter-spacing: 0.5px;
    cursor: pointer;
    content: 'subscribe';
    margin-right: 3%;
   
}
.subscribe:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: 0.5s ease;
  
}
/* component hero */
.hero h1{
    font-size:  95px;
    text-align: center;
    background-image: linear-gradient(to right, #C41740 , #EA9C28);
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 1%;

}
.hero p{
    font-size: 40px;
    text-align: center;
    color: #475467;
    margin-top:1% ;
}
.hero button{
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    margin: auto;
    margin-top: 6%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
}