@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: white;
}
.nav-branding{
    font-size: 25px;
    font-weight: bold;
}
sup{
    font-size: 10px;
}
a{
    color: black;
    text-decoration: none;
}
.logo {
    text-decoration: none;
    margin-left: 3%;
}
header{
    min-height: 70px;
    display: flex;
    justify-content: none ; 
    align-items: center;
    padding: 0px 24px;  
    justify-content: space-between;
    margin-top: -1px;
}
.navbar{
    margin-left: 50%;
}
.navbar a{
    transition: 0.5s ease;
    color: #1D2939;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;  
}
.navbar a:hover{
    font-weight: bold;
    background-image: linear-gradient(to right, #C41740 , #EA9C28);
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.5s ease;
}
.subscribe {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background-color:#1D2939;
    color: white;
    font-size: 17px;
    letter-spacing: 0.5px;
    cursor: pointer;
    content: 'subscribe';
    text-decoration: none;
    margin-right: 4%;
  
   
}
.subscribe:hover{
  background-color: white;
  color: black;
  border: 1px solid #1D2939;
  transition: 0.5s ease;
  
}
/* component hero */
.hero h1{
    font-size:  96px;
    text-align: center;
    background-image: linear-gradient(to right, #C41740 , #EA9C28);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
    margin-top: 1%;
}
.hero p{
    font-size: 28px;
    text-align: center;
    color: #475467;
    margin-top:1% ;
}
.hero button{
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    margin: auto;
    margin-top: 6%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
}