.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    padding: 0 20px;
}

.bottom-shadow {
    box-shadow: 0px 15px 10px -15px #d2d2d2;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu>ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.logo {
    font-weight: bold;
}

.logo span {
    vertical-align: text-top;
    font-size: 0.5rem;
}

.link {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    cursor: pointer;
}

