*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
#container{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid gray;
    box-shadow: 0px 3px 0px 0px rgb(93, 91, 91);
    box-shadow: 0px 3px 0px 0px rgb(122, 120, 120);
    margin-top: 15px;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    background-color: aqua;
    padding: 7px;
    border-radius: 7px;
    margin-bottom: 10px;
}
.menu-item{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 60px;
}
.menu-item a{
    font-size: 18px;
    margin-left:40px ;
}
.subscribe-button a{
    font-size: 20px;
    color: black;
    border: 5px;
    border-radius: 7px;
}
.menu-item a:hover{
    border: 1px solid black;
    background-color: orangered;
}
.subscribe-button a:hover{
    color: white;
    background-color: red;
}