*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    overflow: hidden;
    margin-top: 13rem;
}

.title{
    text-align: center;
    margin: auto;
    margin-top: 3rem;
}
.title h1{
    background: linear-gradient(80deg,#C41740,#EA9C28);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: 40%;
    font-size: 28px;
    margin:auto ;
    line-height: 36.4px;
   
}
.title p{
    color: #475467;
    font-size: 18px;
    line-height: 28px;
    width: 25%;
    margin:auto ; 
    margin-top: 0.5rem;
}
.box{
    width: 350px;
    display: flex;
    border: 0.5px black solid;
    margin: auto;
    margin-top: 30px;
}
input{
    width: 250px;
    padding: 15px;
    font-size: 14px;
}
.btn{
    background-color: #1D2939;
    padding: 15px ;
    color: white;
    font-size: 14px;
    width: 100px;
}
.btn:hover{
    background-color: white;
    color: #1D2939;
}