*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    width: 100%;
    overflow: hidden;
    margin-top: 5rem;
    background-color: white;
    /* padding: 5rem; */
}

.title-footer{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 3rem;
}
.title-footer h1{
    background: linear-gradient(80deg,#C41740,#EA9C28);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: 40%;
    font-size: 28px;
    margin:auto ;
    line-height: 36.4px;
   
}
.title-footer p{
    color: #475467;
    font-size: 18px;
    line-height: 28px;
    width: 35%;
    margin:auto ; 
    margin-top: 0.5rem;
}
.box{
    width: 350px;
    display: flex;
    margin: auto;
    margin-top: 30px;
}
input{
    width: 250px;
    padding: 15px;
    font-size: 14px;
}
.btn-sub{
    background-color: #1D2939;
    padding: 14px ;
    color: white;
    font-size: 14px;
    width: 100px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 3px;
}
.btn-sub:hover{
    background-color: white;
    color: #1D2939;
}
@media only screen and (max-width: 600px){
    .footer{
        width: 100%;
        overflow: hidden;
        background-color: white;
    }
    
    .title-footer{
        width: 100%;
        margin: auto;
        margin-top: 3rem;
    }
    .title-footer h1{
        width: 100%;
        font-size: 28px;
        margin:auto ;
        line-height: 36.4px;
    }
    .title-footer p{
        color: #475467;
        font-size: 18px;
        line-height: 28px;
        width: 50%;
        margin-top: 0.5rem;
    }
    .box{
        width: 100%;
        display: block;
        overflow: hidden;
        margin: auto;
        margin-top: 20px;
        padding: 20px;
    }
    input{
        width: 85%;
        padding: 15px;
        font-size: 14px;
        border-radius: 10px;
    }
    .btn-sub{
        margin-top: 20px;
        padding: 18px ;
        font-size: 14px;
        width: 91%;
        cursor: pointer;
        outline: none;
        border: none;
        transition: 3px;
        border-radius: 10px
    }
    .btn-sub:hover{
        background-color: white;
        color: #1D2939;
    }
}