<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <section>
            <div class="content-card">
                <h3>Daily Digest</h3>
                <button class="btn">View all</button>
            </div>
            <div id="article-card">
               
            </div>
        </section>
        <section>
            <div class="content-card">
                <h3>development Tools</h3>
                <button class="btn">View all</button>
            </div>
            <div id="developmentools">
               
            </div>
        </section>
        <section>
            <div class="content-card">
                <h3>Tutorials</h3>
                <button class="btn">View all</button>
            </div>
            <div id="Tutorials">
               
            </div>
        </section>
    </div>
    <script src="index.js"></script>
</body>
</html>