<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="home">
        <section>
            <div class="content-card">
                <h3>Daily Digest</h3>
                <a href="../../components/category/category.html?category=daily trends" class="btn-view">View all</a>
            </div>
            <div id="article-card">
               
            </div>
        </section>
        <section>
            <div class="content-card">
                <h3>development Tools</h3>
                <button class="btn-view">View all</button>
            </div>
            <div id="developmentools">
               
            </div>
        </section>
        <section>
            <div class="content-card">
                <h3>Tutorials</h3>
                <button class="btn-view">View all</button>
            </div>
            <div id="Tutorials">
               
            </div>
        </section>
        <section>

        </section>
    </div>
    <!-- <script src="index.js"></script> -->
    <script type="module" src="index.js"></script>
</body>
</html>