*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* text-transform: uppercase; */
    background-color:#F2F4F7;
}
.container{
    width: 70%;
    overflow: hidden;
    margin: auto;
    margin-top: 5rem;
}
.content-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-card h3{
    font-size: 26px;
}
.btn{

    font-size: 14px;
    background-color:#ffff ;
    padding: 8px 12px 8px 12px;
    border-radius: 8px;
    gap: 10px;
}
.btn:hover{
    background-color: black;
    color: #ffff;
}