<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>local storage</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="title">
                <span class="title-card">
                    <h1>article list</h1>
                    <h3>add article</h3>
                </span>
                <div class="title-paragraph">
                    <p>manage article by your own in your brower</p>
                </div>
            </div>
            <div class="card"></div>
            <div class="addinformation">
                <h1>add article</h1>
                <h3>submit</h3>
                <p>hi</p>
                <label for=""></label>
                <input type="text" name="" id="">
                <label for=""></label>
                <input type="text" name="" id="">
                <label for=""></label>
                <input type="text" name="" id="">
                <label for=""></label>
                <input type="text" name="" id="">
                <label for=""></label>
                <input type="text" name="" id="">
            </div>

        </div>
    </section>
</body>
</html>