<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subscribe Form</title>
    <link rel="stylesheet" href="form.css" />
    <style></style>
  </head>
  <body>
    <div id="text"></div>
    <div id="subscribe-form">
      <form id="subscription-form">

        <div>
          <input
            type="email"
            id="email"
            name="email"
            required
            placeholder="Email address"
          />
          <button id="submit">Subscribe</button>
        </div>

      </form>
      <div id="message"></div>
    </div>


    <script src="form.js"></script>
  </body>
</html>
