<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Footer</title>
</head>
<body>
    <div class="container">
        <div class="footer">
        <h1>Personally Newsletter</h1>
        <p>A bi-weekly newsletter of design inspiration, resources <br>
        and anything related to career development. 
      </p>
      <div class="button">
        <input type="email" id="gmail" name="gmail" placeholder="Email address" required>
       <button id="Submit">SUbscript</button>
      </div>
</div>
    </div>
</body>
</html>