<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Footer</title>
</head>
<body>
    <div class="container">
        <div class="footer">
        <h1>Personally Newsletter</h1>
        <p>A bi-weekly newsletter of design inspiration, resources <br>
        and anything related to career development. 
      </p>
      <form id="button">
        <input type="email" id="email" name="gmail" placeholder="Email address" required>
       <button type="submit">Subscribe</button>
        <p id="subscribeMessage"></p>
        </form>
      </div>
      <div class="p">
        <p>Copyright 2021 - Elikem Daniels</p>
      </div>
</div>
   <script src="script.js"></script>
    
</body>
</html>

