*{
    margin: 0;
    padding: 0;
}
.container{
    padding-top: 50px;
   width: 100%;
}
.footer{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.footer h1{
    font-size: 20px;
    background-image: linear-gradient(to right, #C41740 , #EA9C28);
    -webkit-background-clip: text;
    color: transparent;
}
.footer p{

    font-size: 18x;
    color: #475467;
}
#button{
   margin-top: 30px;
}
#button input{
    width: 350px;
    height: 50px;
    padding-left: 20px;
    border: 1px solid #D0D5DD;
    border-radius: 10px; 
}
#button button{
    width: 140px;
    height: 50px;
    background-color: #1D2939;
    color: #FFFFFF;
    margin-left: -145px;
    border: 1px solid #D0D5DD;
    border-radius: 10px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#button button:hover{
   background-color: #FFFFFF;
   color: #1D2939;
    border: 1px solid #D0D5DD;
    border-radius: 10px; 
}
.p p{
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
    border-top: solid 1px rgb(192, 185, 185);
    padding: 40px;
}
@media screen and (max-width: 700px) {
    .container{
        width: 40%;
    }
    .footer h1{
       font-size: 18px;
    }
    .footer p{
       
        font-size: 16x;
    }
    .button{
       margin-top: 1px;
    }
    .button input{
        width: 300px;
        height: 50px;
        margin-bottom: 10px;
        margin-left: 10px
    }
    .button button{
        width: 320px;
        height: 50px;
        border-radius: 10px; 
        margin-left: 10px;
    }}
