#quote{

    font-weight: bold;
    font-family: sans-serif;
    font-size: 35px;
    line-height: 50px;
    justify-content: center;
    display: flex;
  
    
}
#quote p{
    border-left: 10px solid rgb(207, 3, 3);
    padding-left: 50px;
    justify-content: center;
    display: flex;
}
