<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="blog.css">
    <title>Blog</title>
</head>
<body> 
    <div class="container">
        <div class="box"> 
             <h2 style="margin-top: -5px;">Tutorials</h2>
            <a href="" onclick="Viewall()">View all</a>
        </div>
      
        <div class="box1">
                <div class="box1-1"></div>
            </div>

            <div class="box2">
                <div class="box2-1"></div>
            </div>

            <div class="box3">
                <div class="box3-1"></div>
            </div>

        </div>
    <script src="blog.js"></script>
</body>
</html>