*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(224, 223, 223);
}
.catigory{
    display: flex;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    
}
.btn{
    width: 100px;
    height: 50px;
    font-size: 1.5rem;
}
.article{
    display: flex;
    width: 80%;
    height: 350px;
    justify-content: center;
    font-size: 2rem;
    margin-top: 50px;
    align-items: center;
    margin-left: 10%;
}
.article-info{
    background-color: #ffff;
    border-radius: 10px;
}
.para{
    margin-top: 25px;
    margin-left: 25px;
    text-align: start;
    line-height: 2rem;
}
.para p{
    margin-top: 22px;
}
.image-info{
    margin-top: 10px;
    margin-right: 20px;
    background-color: #ffff;
    
}
.image-info img{
    width: 450px;
    height: 300px;
    border-radius: 10px;
    
}
.article-info{
    display: flex;
    font-size: 1.5rem;
}
