
body{
    width: 50%;
    height: 100vh;
}
.article{
    width: 150%;
    height: 350px;
    font-size: 2rem;
    border: 5px solid rgb(191, 188, 188);
    border-radius: 22px;
    margin-top: 10px;
    margin-left: 25%;

}
.pic{
    width: 450px;
    height: 300px;
    border-radius: 10px;
    margin-top: 23px;
    margin-right: 20px;
    
}
.content{
    display: flex;
    font-size: 1.5rem;
}
.paragraph{
    display: block;
}