.image-container {
    position: relative;
    display: inline-block;
  }


  .image-container img {
    width: 600px;
    height: auto;
    border-radius: 10px;

  }


  .image-title {
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 40%;
    border-radius: 50px;
    background-color: rgb(234, 230, 230); 
    color: black;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }