<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Gradient</title>
    <link rel="stylesheet" href="../../src/css/global.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="hero">
        <div class="container">
            <h1 class="hero-title">
                CSS Gradient Text
            </h1>
            <p class="hero-subtitle">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus sit fugiat delectus similique neque iure unde sunt totam consequatur voluptatem? Est explicabo numquam dicta ducimus dolorem. Quibusdam atque corporis voluptatem.
            </p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
    WebFont.load({
        google: {
            families: ["Poppins", "sans-serif"]
        }
    });
    </script>
</body>
</html>