.hero-title {
  font-size: 5rem;
  background: -webkit-linear-gradient(#C41740, #EA9C28);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.hero-subtitle {
    font-size: 1rem;
    color: #686868
}

.hero {
    text-align: center;
    padding: 8rem 1rem;
    background-color: #fff;
}