<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Button</title>
  
</head>
<body>
    <!-- <nav id="navbar">
        <div class="logo"> <b>Professionally</b></div> -->
        <!-- <div class="menu">
          <a href="#" class="menu-item">Daily Digest</a>
          <a href="#" class="menu-item">Design Tools</a>
          <a href="#" class="menu-item">Tutorials</a>
        </div> -->
        <!-- <button class="submit-button">Submit</button>
      </nav> -->
     
    <div id="paragraph"></div>
    <div id="image"></div>
    <div id="text"></div>

   


   <script src="index.js"></script>
</body>

</html>