*{
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .container{
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  #container-navbar{
      width: 100%;
      height: 105px;
      display: flex;
      align-items: center;
      background-color: rgb(238, 234, 234);
      justify-content: space-between;
      box-shadow: 0px 0px 3px;
  }
  .logo{
      font-size: 2rem;
      font-weight: bold;
      padding: 7px;
      border-radius: 7px;
      border-bottom: 10px;
  
  }
  .navbar-iterm{
    width: 70%;
    display: flex;
    gap: 70px;
    font-size: 1.5rem;
    margin-left: 45%;
    transition: 0.5s ease;
  }
  .subscribebtn{
    font-size: 2rem;
    padding: 20px 20px;
    background-color: rgb(0, 0, 0);
    margin-right: 50px;
    border-radius: 20px;
  }
  .navbar-iterm a:hover{
   background: linear-gradient(45deg,rgb(191, 5, 5),rgb(230, 159, 27));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   
  }
  .pharagrap{
    line-height: 50px;
    
  }
#img-1{
  
  /* height: 1000px;  */
  height: auto;
  justify-content: center;
  display: flex;
  margin-top: 40px;
  overflow: hidden;
 
}
#img-1 img{
  border: 1px solid #ddd; 
  width: 1300px;
 border-radius: 20px;
}
#pharagrap-1{
  /* padding-left: 50px; */
  justify-content: center;
  display: flex;
  margin-top: 50px;
  font-size: 23px
}
.image-container {
  position: relative;
  display: inline-block;
}


.image-container img {
  width: 900px;
  height: auto;
  border-radius: 10px;

}


.image-title {
  position: absolute;
  bottom: 20px;
  right: 57%;
  width: 15%;
  border-radius: 50px;
  background-color: rgb(234, 230, 230); 
  color: black;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
}
.image-container{
  justify-content: center;
  display: flex;
  margin-top: 50px;
  
}
#image-container{
  text-align: center;
}
#pharagrap-2{
  justify-content: center;
  display: flex;
  margin-top: 50px;
  font-size: 23px
}
#quote{

  font-weight: bold;
  font-family: sans-serif;
  font-size: 38px;
  line-height: 50px;
  justify-content: center;
  display: flex;
margin-top: 50px;

  
}
#quote p{
  border-left: 10px solid rgb(207, 3, 3);
  padding-left: 50px;
  justify-content: center;
  display: flex;
}
#pharagrap-3{
  justify-content: center;
  display: flex;
  margin-top: 50px;
  font-size: 23px
}
@media screen and (min-width:767px)and(max-width:1024px){

    #pharagrap-1{
      font-size: 10px;
    }
} 

.catigory{
  display: flex;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  
}
.btn{
  width: 100px;
  height: 50px;
  font-size: 1.5rem;
}
#articleContainer{
  position: relative;
  top: 10%;
}
.article{
  display: flex;
  width: 70%;
  height: 350px;
  justify-content: center;
  font-size: 2rem;
  margin-top: 50px;
  margin-left: 15%;
}
.article-info{
  background-color: #ffff;
  border-radius: 10px;
}
.para{
  margin-top: 25px;
  margin-left: 25px;
  text-align: start;
  line-height: 2rem;
}
.para p{
  margin-top: 22px;
}
.image-info{
  margin-top: 25px;
  margin-right: 25px;
  background-color: #ffff;
  
}
.image-info img{
  width: 450px;
  height: 300px;
  border-radius: 10px;
  
}
.article-info{
  display: flex;
  font-size: 1.5rem;
  /* margin-top: 50px; */
}
 .art{
  width: 100%;
  height: 150vh;
  background-color: rgb(211, 208, 208);
  margin-top: 50px;
}
.recommend{
  position: relative;
  font-size: 30px;
  left: 15%;
  top: 10%;
}
#herotext{
  line-height: 50px;
  
}
#herotext #title{
font-weight: bold; 
background:linear-gradient(60deg,red , yellow);
-webkit-background-clip: text;
color: transparent;
text-align: center;
font-family:sans-serif;
font-size:60px;
margin-top:100px;
}
#herotext #title-1{
text-align:  center;
font-family:sans-serif;
font-size:30px;
margin-top: 50px;
}

.button-input{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  }
   #searchInput {
      padding: 20px;
      border-radius: 5px 0 0 5px;
      border: 1px solid #ccc;
      border-right: none;
      margin: 0;
      
    }
  
    #searchButton {
      padding: 11px 20px;
      background-color: black;
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 0 5px 5px 0;
      margin: 0;
     
      
    }
    #title{
      font-weight: bold; 
  background:linear-gradient(60deg,red , yellow);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-family:sans-serif;
  font-size:30px;
    }
    #p-title{
      line-height:2opx;
      font-family:sans-serif; 
      font-size:30px;
    }
  
 hr{
  margin-top: 50px;
 }   
.footer-main{
  width: 100%;
  height: 20vh;
}
#footer{
  text-align:center; 
  font-size:25px ; 
  font-family:sans-serif;
  margin-top: 50px;
}
